SUPABASE_URL=<REPLACE_ME>
SUPABASE_SERVICE_ROLE_KEY=<REPLACE_ME>
TERRA_API_KEY=<REPLACE_ME>
TERRA_DEV_ID=<REPLACE_ME>
TERRA_WEBHOOK_SECRET=<REPLACE_ME>
TERRA_ENV=sandbox
TERRA_REDIRECT_URL=flexforcex://terra-callback
ADMIN_ALLOWLIST_EMAILS=admin@flexforcex.com
